{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="d-flex flex-column">
        <hr>
        <h4>Create new request</h4>
        <div class="form-group">
            {{ form_label(form.start_date, 'Please pick the start date') }}
            {{ form_widget(form.start_date, {'attr': {'class': 'task_field'}}) }}
        </div>
        <div class="form-group" id="some-custom-id">
            {{ form_label(form.end_date, 'Please pick the end date') }}
            {{ form_widget(form.end_date, {'attr': {'class': 'task_field'}}) }}
        </div>
        <div class="form-group" id="some-custom-id">
            {{ form_label(form.category, 'Please pick the category') }}
            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group" id="some-custom-id">
            {{ form_label(form.type, 'Please pick the type') }}
            {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group" id="some-custom-id">
            {{ form_widget(form.save, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
{{ form_end(form) }}