
{{ form_start(form, {'attr': {'class':'__form_new_team'}}) }}

    <div class="flex-column {{ success ? "d-none" : "d-flex" }}">
        <div class="form-group">
            {{ form_label(form.name, 'Enter the team name') }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group" id="some-custom-id">
            {{ form_widget(form.save, {'attr': {'class': 'form-control __save_team'}}) }}
        </div>
    </div>

    <div class="my-custom-class-for-errors">
        {% if success %}
            <p>You have successfully created a team.</p>
        {% else %}
            {{ form_errors(form) }}
        {% endif %}
    </div>

{{ form_end(form) }}