{% extends "pages/dashboard.twig" %}

{% block content %}

    <div class="ml-md-3 d-flex flex-column">
        <h1 class="__response_msg"></h1>
        <h2>Team informations</h2>
        <div class="ml-md-3">
            <p>ID: <span class="text-info font-weight-bold">{{ team.getId() }}</span></p>
            <p>Name: <span class="text-info font-weight-bold">{{ team.getName() }}</span></p>
            <p>Created On: <span class="text-info font-weight-bold">{{ team.getCreatedOn().format('d.m.Y') }}</span></p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-12 col-md-6">
            <div class="__alert alert d-none">
                <button type="button" class="close">
                    <i class="material-icons __close_alert">close</i>
                </button>
                <span class="__message"></span>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Requests</h4>
                <p class="card-category"> Here is the list of all requests you have made</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive">
                        <tbody>
                        <tr>
                            <th style="border: 0px solid black!important;">Name</th>
                            <td>Role</td>
                            <td>Joined</td>
                            {% if editor %}
                                <td>Action</td>
                            {% endif %}
                        </tr>
                        </tbody>
                        <tbody>
                            {% for member in team.getMembers() %}
                                <tr>
                                    <td>{{ member.getUser().getName() }}</td>
                                    <td>{{ member.getRole() }}</td>
                                    <td>{{ member.getJoinedOn().format('d.m.Y') }}</td>
                                    {% if editor %}
                                        <td>
                                            <button data-user-id="{{ member.getUser().getId() }}" class="btn-primary btn __remove_member">Remove member</button>
                                            <button data-user-id="{{ member.getUser().getId() }}" class="btn-primary btn __make_admin">Make administrator</button>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(function() {
            var teamId = {{ team.getId() }};
            $(document).on('click', '.__remove_member', function() {
                var userId = $(this).attr('data-user-id');
                $.ajax({
                    url: "/teams/remove_member/"+userId+"/"+teamId,
                    method: "POST",
                    success: function(data)
                    {
                        $('.__alert').removeClass('d-none');
                        if(data.success == true)
                        {
                            $('.__alert').addClass('alert-success');
                        }
                        else {
                            $('.__alert').addClass('alert-danger');
                        }
                        $('.__message').html(data.message);
                    }
                });
            });
            $(document).on('click','.__close_alert', function () {
                $(".__alert").addClass('d-none');
            });
        });

    </script>



{% endblock %}